footer 
    .container 
        .footer-line
            .grid(class='grid-cols-1 gap-[40px] lg:grid-cols-2 lg:gap-x-[20px] lg:gap-y-[40px] xl:grid-cols-3 xl:gap-[90px] mb-[56px]')
                div 
                        h1 Официальное представительство и производство в РФ
                        br
                        span 
                            a(href='') Московская обл., ГО Орехово-Зуевский, д. Кабаново, д.144, офис 9
                            br
                            a(href='tel:+7 (985) 506-38-82') +7 (985) 506-38-82
                            br
                            a(href='mailto:radostone.sale@yandex.ru ') radostone.sale@yandex.ru 
                div 
                        h1 Отдел по работе с корпоративными клиентами
                        br
                        span  
                            a(href='tel:+7 (985) 506 38 82  ') +7 (985) 506 38 82  
                            br
                            a(href='tel:+7 (916) 600 44 93') +7 (916) 600 44 93
                div 
                        h1 Склад
                        br
                        span 
                            a(href='') г.Климовск, улица Ленина 8
                            br
                            a(href='tel:+7 (916) 600 44 93') +7 (916) 600 44 93
                            br
                            |Скачать схему проезда
            div(class='sm:flex sm:justify-between lg:grid lg:grid-cols-2 lg:gap-x-[20px] xl:grid-cols-3   xl:gap-[90px]')
                .text-16px.text-gray RADOSTONE © 2022
                .text-16px.text-gray.underline Политика конфиденциальности