/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
:root {
    --black: #32383C;
    --white: #FFF;
    --gray:#C4C4C4;
    --light-gray:#F5F5F5;
    --rad: #FC363B;
    --transparent: #00000000;

    
    // --js-button-x:1;
    // --js-button-y:0;

}
 
/* Components */
