extends ../layout/main

block variables
  - var title = 'Сотрудничество';
  - var description = 'Сотрудничество струница';
  - var pageClass = 'index';
  
block content
    .container 
        .breadcrumbs 
            .el Главная
            .el О нас
        h1.text-center.mb-15 История 
        .grid(class='grid-cols-1 md:grid-cols-[1fr_2fr] lg:grid-cols-2 relative')
            .story-slider
                .swiper-wrapper     
                    .swiper-slide  
                        .text-cont Начало 
                    .swiper-slide 
                        .text-cont 2012  
                    .swiper-slide 
                        .text-cont 2014 
                    .swiper-slide 
                        .text-cont 2017 
                    .swiper-slide 
                        .text-cont 2018 
                    .swiper-slide 
                        .text-cont 2021 
                    .swiper-slide  
                        .text-cont 2022
                    .swiper-slide
                        .text-cont Продолжение следует  
            .story-slider-img-thumbs
                .swiper-wrapper     
                    .swiper-slide  
                    .swiper-slide 
                        .cont 
                            .img-cont 
                                img(src='assets/img/story-slider/1.png')
                    .swiper-slide 
                        .cont 
                            .img-cont 
                                img(src='assets/img/story-slider/1.png')
                    .swiper-slide 
                        .cont 
                            .img-cont 
                                img(src='assets/img/story-slider/1.png')
                    .swiper-slide 
                        .cont 
                            .img-cont 
                                img(src='assets/img/story-slider/1.png')
                    .swiper-slide 
                        .cont 
                            .img-cont 
                                img(src='assets/img/story-slider/1.png') 
                    .swiper-slide  
                        .cont 
                            .img-cont 
                                img(src='assets/img/story-slider/1.png')
                    .swiper-slide
            .story-slider-text-thumbs
                .swiper-wrapper     
                    .swiper-slide  
                    .swiper-slide 
                        .cont 
                            .text-story
                                .font-bold Создание отдельной компании
                                br 
                                |В феврале 2021 года на имеющейся высоко технологичной, хорошо оборудованной, современной базе было образовано ООО «Радуга Композитные Материалы», которое входит в группу компаний «Радуга Синтез» и ведет самостоятельную хозяйственную деятельность
                    .swiper-slide 
                        .cont 
                            .text-story
                                .font-bold Создание отдельной компании
                                br 
                                |В феврале 2021 года на имеющейся высоко технологичной, хорошо оборудованной, современной базе было образовано ООО «Радуга Композитные Материалы», которое входит в группу компаний «Радуга Синтез» и ведет самостоятельную хозяйственную деятельность
                    .swiper-slide 
                        .cont 
                            .text-story
                                .font-bold Создание отдельной компании
                                br 
                                |В феврале 2021 года на имеющейся высоко технологичной, хорошо оборудованной, современной базе было образовано ООО «Радуга Композитные Материалы», которое входит в группу компаний «Радуга Синтез» и ведет самостоятельную хозяйственную деятельность

                    .swiper-slide 
                        .cont 
                            .text-story
                                .font-bold Создание отдельной компании
                                br 
                                |В феврале 2021 года на имеющейся высоко технологичной, хорошо оборудованной, современной базе было образовано ООО «Радуга Композитные Материалы», которое входит в группу компаний «Радуга Синтез» и ведет самостоятельную хозяйственную деятельность
                    .swiper-slide 
                        .cont 
                            .text-story
                                .font-bold Создание отдельной компании
                                br 
                                |В феврале 2021 года на имеющейся высоко технологичной, хорошо оборудованной, современной базе было образовано ООО «Радуга Композитные Материалы», которое входит в группу компаний «Радуга Синтез» и ведет самостоятельную хозяйственную деятельность
                    .swiper-slide  
                        .cont 
                            .text-story
                                .font-bold Создание отдельной компании
                                br 
                                |В феврале 2021 года на имеющейся высоко технологичной, хорошо оборудованной, современной базе было образовано ООО «Радуга Композитные Материалы», которое входит в группу компаний «Радуга Синтез» и ведет самостоятельную хозяйственную деятельность
                    .swiper-slide

        h1.text-center.mb-15(class='mt-[150px]') Производство 
        .grid(class='grid-cols-1 gap-3 llg:gap-0 llg:grid-cols-2').items-center
            div 
                .text-30px Искусственный камень Stone Surface
                br
                div Технология Solid Surface представляет собой способ получения сплошного и однородного на всю толщину изделий искусственного камня литьевым методом (каменная масса). Данная технология признана ведущими экспертами и лидерами рынка сантехнической продукции передовой и наиболее перспективной. Специалисты ООО «Радуга Композитные материалы», при поддержке компании «Радуга Синтез» (Россия) и компании «Hempro-Color» (Сербия), создали идеальный материал для производства сантехнической продукции по технологии Solid Surface — так появился Stone Surface.
                br
                .text-18px.font-bold Главной отличительной особенностью изделий RADOSTONE в сравнении с изделиями из санфаянса и литого мрамора с гелькоутным покрытием, является возможность использовать для чистки практически все моющие и чистящие средства без ограничений, включая абразивные чистящие средства для удаления царапин и трудноудаляемых загрязнений.
            .img-cont
                img(src='assets/img/eliza.png' class='m-auto llg:m-0 llg:ml-auto').w-fit
        h1.text-center.mb-15(class='mt-25') Наши работы  
        .our-works  
            .el(style='background:url(assets/img/vanna.png),linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 35.42%)')
                .flex.h-full.justify-center.items-end.pb-4.text-center
                    .text-white(class='text-[12px] sm:text-14px md:text-20px')  Ванна из искусственного мрамора 170х90 см белого цвета 
                        br
                        |для дизайн-проекта ванной комнаты в духе минимализма
            .el(style='background:url(assets/img/vanna.png),linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 35.42%)')
                .flex.h-full.justify-center.items-end.pb-4.text-center
                    .text-white(class='text-[12px] sm:text-14px md:text-20px')  Ванна из искусственного мрамора 170х90 см белого цвета 
                        br
                        |для дизайн-проекта ванной комнаты в духе минимализма
            .el(style='background:url(assets/img/vanna.png),linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 35.42%)')
                .flex.h-full.justify-center.items-end.pb-4.text-center
                    .text-white(class='text-[12px] sm:text-14px md:text-20px')  Ванна из искусственного мрамора 170х90 см белого цвета 
                        br
                        |для дизайн-проекта ванной комнаты в духе минимализма
            .el(style='background:url(assets/img/vanna.png),linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 35.42%)')
                .flex.h-full.justify-center.items-end.pb-4.text-center
                    .text-white(class='text-[12px] sm:text-14px md:text-20px')  Ванна из искусственного мрамора 170х90 см белого цвета 
                        br
                        |для дизайн-проекта ванной комнаты в духе минимализма
        .w-fit.m-auto.mt-10
            .button Больше работ     
        h1.text-center.mb-15(class='mt-25') Свяжитесь с нами  
        .grid(class='gap-[30px]  grid-cols-1 lg:grid-cols-3')
            input(type="text" placeholder='Ваше имя')
            input(type="text" placeholder='Ваше город')
            input(type="phone" placeholder='+7 (_ _ _) _ _ _ - _ _ - _ _')
            input(type="text" placeholder='Эл почта')
            input(type="text" class='lg:col-span-2' placeholder='Сообщение')
        .text-center.my-5.text-gray(class='leading-[18px]') Нажимая на кнопку «Отправить», я соглашаюсь с Политикой конфиденциальности и даю согласие на обработку персональных данных
        .w-fit.mx-auto(class='mt-[30px] mb-25')
            .button Отправить
    .bg-light-gray
        .container
            h1.text-center(class='py-[60px]') Гарантия качества  
            .grid.justify-items-center(class='pb-[60px] grid-cols-1 lg:grid-cols-2 gap-15')
                .img-conts 
                    img(src='assets/img/Свидетельство.png')
                .img-conts 
                    img(src='assets/img/Серт.png')
        
    .container
        h1.text-center.mb-15.mt-25 Отзывы  
        .reviews
            .swiper-wrapper 
                .swiper-slide
                    .cont
                        .el
                            .human
                                .img-cont 
                                    img(src='assets/img/konstantin.png') 
                                div(class='block llg:hidden').name.mt-4.mb-9 Константин Константинопольский
                            .comment 
                                |Аккуратная белоснежная раковина стала изюминкой нашей ванной комнаты в новом доме. Притягивает внимание ее нестандартная форма. Требуется совсем немного пространства для расположения. Мыться приятно и удобно. Специальное имеет покрытие. Оно не позволяет бактериям размножаться. Раковину легко содержать в чистоте, для этого применяю обычные средства.
                            div(class='hidden llg:block').name Константин Константинопольский

                     
            .swiper-pagination












