extends ../layout/main

block variables
  - var title = 'Сотрудничество';
  - var description = 'Сотрудничество струница';
  - var pageClass = 'index';
  
block content
    .container 
        .breadcrumbs 
            .el Главная
            .el Сотрудничество
        h1.text-center.mb-15 Сотрудничество
        div(class='text-[15px] sm:text-18px md:text-20px lg:text-26px mb-[70px] md: mb-15').m-auto.w-fit.font-bold
                |Нашими конкурентными преимуществами являются по-настоящему совершенный материал 
                br
                |Stone Surface, более низкие цены чем у конкурентов более чем на 30%, большая глубина склада, 
                br
                |отечественное производство, расположенное в Московской области с удобной логистикой, 
                br
                |быстрая и бесперебойная доставка.
        .about-rakovina 
            .img-cont
                img(src='assets/img/rakovina_ishetki.png')
            .benefs 
                .el
                    .img-cont 
                        img(src='assets/img/benefs/1.svg')
                    div 
                        .title Технологичность
                        .desc Технология создана на основе проверенной низкопрофильной системы, что позволяет максимально оптимизировать процесс производства.  
                .el
                    .img-cont 
                        img(src='assets/img/benefs/2.svg')
                    div 
                        .title Универсальность
                        .desc Можем изготавливать любые изделия по технологии Solid Surface, как по своим моделям так и по моделям клиента.  
                .el
                    .img-cont 
                        img(src='assets/img/benefs/3.svg')
                    div 
                        .title Открытость
                        .desc К каждому клиенту у нас индивидуальный подход. Мы открыты для новых идей и готовы обсудить интересные предложения
                .button Свяжитесь с нами

    .geo-partners 
        .container 
            h1.text-center.mb-15  География партнерства 
            .text-26px 
                |Сегодня нашими партнерами являются не только Российские, 
                br
                |но и европейские дизайнеры, а также архитектурно-дизайнерское бюро, которое изучает европейский рынок и проводит маркетинговые исследования. 
                br
                br
                |Совместно с ними мы ведём разработки проектов авторских линеек элитной сантехники, которые представим на ближайших профильных международных выставках.
    .container
        .partners 
            .el
                .img-cont
                    img(src='assets/img/partners/1.png')
                p AQUANET – название, которое отлично известно тем, кто когда-либо занимался ремонтом, преобразованием, модернизацией своей ванной комнаты или создавал дизайн-проект для формирования имиджа дома или квартиры заказчика.
            .el
                .img-cont
                    img(src='assets/img/partners/2.png')
                p «Радуга Синтез» – лидер РФ в производстве полиэфирных смол и гелькоутов. Компания выпускает свыше 30.000 тонн разнообразной продукции. Продукции компании «Радуга Синтез» соответствует импортным западным аналогам.
            .el
                .img-cont
                    img(src='assets/img/partners/3.png')
                p Hempro-Color doo Sid является известным производителем красок, лаков, школьной темперы, масляных красок, синтетических связующих, пластиковой упаковки и других химических товаров.
            .el
                .img-cont
                    img(src='assets/img/partners/4.png')
                p Команда Флорентина способна производить полный комплекс работ по разработке, конструированию и серийному изготовлению готового продукта из композитных материалов.
        h1.mt-25.mb-15.text-center Свяжитесь с нами
        .grid(class='gap-[30px]  grid-cols-1 lg:grid-cols-3')
            input(type="text" placeholder='Ваше имя')
            input(type="text" placeholder='Ваше город')
            input(type="phone" placeholder='+7 (_ _ _) _ _ _ - _ _ - _ _')
            input(type="text" placeholder='Эл почта')
            input(type="text" class='lg:col-span-2' placeholder='Сообщение')
        .text-center.my-5.text-gray(class='leading-[18px]') Нажимая на кнопку «Отправить», я соглашаюсь с Политикой конфиденциальности и даю согласие на обработку персональных данных
        .w-fit.mx-auto
            .button Отправить