extends ../layout/main

block variables
  - var title = 'Главная';
  - var description = 'Главная страница';
  - var pageClass = 'index';
  


block content
  .top-slider 
    .swiper-wrapper 
      .swiper-slide(style='background:url(/assets/img/top-slider/rakovina2.png)') 
          .container
              .wrap
                h1 Грация
                span НОВЫЕ РАЗМЕРЫ
                a(class='flex items-center gap-[10px] text-[21px] font-light text-black')
                  .desc Смотреть
                  <svg width="38" height="16" viewBox="0 0 38 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M37.7071 8.70711C38.0976 8.31658 38.0976 7.68342 37.7071 7.29289L31.3431 0.928932C30.9526 0.538408 30.3195 0.538408 29.9289 0.928932C29.5384 1.31946 29.5384 1.95262 29.9289 2.34315L35.5858 8L29.9289 13.6569C29.5384 14.0474 29.5384 14.6805 29.9289 15.0711C30.3195 15.4616 30.9526 15.4616 31.3431 15.0711L37.7071 8.70711ZM0 9H37V7H0V9Z" fill="#32383C"/>
                  </svg>

      .swiper-slide(style='background:url(/assets/img/top-slider/rakovina.png)')
        .container
              .wrap
                h1 Грация
                span НОВЫЕ РАЗМЕРЫ
                a(class='flex items-center gap-[10px] text-[21px] font-light text-black')
                  .desc Смотреть
                  <svg width="38" height="16" viewBox="0 0 38 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M37.7071 8.70711C38.0976 8.31658 38.0976 7.68342 37.7071 7.29289L31.3431 0.928932C30.9526 0.538408 30.3195 0.538408 29.9289 0.928932C29.5384 1.31946 29.5384 1.95262 29.9289 2.34315L35.5858 8L29.9289 13.6569C29.5384 14.0474 29.5384 14.6805 29.9289 15.0711C30.3195 15.4616 30.9526 15.4616 31.3431 15.0711L37.7071 8.70711ZM0 9H37V7H0V9Z" fill="#32383C"/>
                  </svg>
  .container 
    h1.my-25 RADOSTONE — это российский бренд сантехники премиум-класса из искусственного камня.
    .hystory 
      .col1 
        .text-30px.text-black.mb-10 История рождения бренда RADOSTONE
        div
          .year 2012 год 
          .desc Команда наших специалистов ведет исследования в области каменного полимерного литья. Изучается передовой опыт производства искусственного камня ведущими производителями продукции и сырья в Европе. Специалисты проходят стажировку на предприятиях Польши, Испании, Австрии. 
          br
          .year 2014 год 
          .desc Организуется опытно-производственный участок на базе одного из крупнейших производителей полиэфирных смол в России – ООО «Радуга Синтез». Начинается разработка и совершенствование рецептур искусственного камня по технологии Solid Surface.В 2016 году — начало организации и оснащения первого производственного корпуса по изготовлению продукции из искусственного камня. Производство оснащается передовым, современным оборудованием импортного и отечественного производства.
          br
          .year 2017 год 
          .desc Регистрируется обособленное подразделение ООО «Радуга Синтез» на базе Индустриального парка в Орехово-Зуевском районе Московской области.
          br
          .year 2018 год 
          .desc Организуется ещё один корпус по производству изделий из искусственного камня и стеклопластика. Общая площадь производства составляет 3600 квадратных метров.
          br
          .year 2021 год 
          .desc Обособленное подразделение перерастает в самостоятельную организацию ООО «Радуга Композитные Материалы» в рамках компании «Радуга Синтез». Первое участие новой организации в выставке «Мебель 2021» в Москве.
          br
          .year Февраль 2022 года 
          .desc Получено экспертное заключение о соответствии продукции Единым санитарно-эпидемиологическим и гигиеническим требованиям к продукции (товарам), подлежащей санитарно-эпидемиологическому надзору (контролю).
          br
          .year Март 2022 года 
          .desc Участие в выставке Композит-Экспо в Москве.
          br
          .year Июль 2022 года 
          .desc Получено свидетельство на товарный знак RADOSTONE.
        .expand-this 
          <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.6586 13.2072L23.7286 2.10654C24.0911 1.74284 24.0905 1.154 23.7267 0.790906C23.363 0.428095 22.7739 0.429033 22.4111 0.792781L12 11.2327L1.58887 0.792405C1.22606 0.428704 0.637268 0.427766 0.27352 0.79053C0.091177 0.972545 5.6918e-06 1.211 5.68138e-06 1.44945C5.67098e-06 1.68729 0.0905666 1.92481 0.271645 2.10649L11.3414 13.2072C11.5156 13.3824 11.7528 13.4807 12 13.4807C12.2471 13.4807 12.484 13.3821 12.6586 13.2072Z" fill="#32383C"/>
          </svg>

      .col2 
        .text-30px.text-black.mb-10 RADOSTONE сегодня
        div Сегодня нашими партнерами являются не только Российские, но и европейские дизайнеры, а также архитектурно-дизайнерское бюро, которое изучает европейский рынок и проводит маркетинговые исследования. Совместно с ними мы ведём разработки проектов авторских линеек элитной сантехники, которые представим на ближайших профильных международных выставках.
          br
          br
          |Большая работа была проведена по разработке уникальной рецептуры искусственного камня совместно с сербской компанией «Hempro-Color». В результате получен идеальный материал Stone Surface, который отличается от других европейских и российских производителей своей прочностью, твердостью, стойкостью к различным загрязнениями в то же время практичностью и красотой.
        hr
        div(class='text-center llg:text-left text-[28px] leading-[38px] font-light italic') Нашими конкурентными преимуществами являются по-настоящему совершенный материал Stone Surface
        .mt-15(class='mx-auto w-fit llg:mx-0')
          .button Подробнее
    .text-black.flex.flex-wrap(class='mt-[30px] gap-[50px] justify-between md:justify-around lg:gap-x-[105px] lg:gap-y-[40px] llg:gap-[75px] llg:justify-between')
      div 
        span(class='text-[90px]') 7
        span(class='text-[35px]') лет
        div() Существует производство
      div
        span(class='text-[35px]') более
        span(class='text-[90px]') 17
        div() Наименование продукции
      div
        span(class='text-[35px]') до
        span(class='text-[90px]') 1000
        div() Изделий в месяц
      div
        span(class='text-[90px]') 10
        div() Цветовых решений
      div
        span(class='text-[35px]') от
        span(class='text-[90px]') 2-x
        div() Рабочих дней изделие на заказ
    h1.my-25.text-center Продукция
    .sections
      a.el(style='background:url(/assets/img/sections/1.png)') 
        .cont 
          .desc Комфорт и удобство
          .name Столешницы
      a.el(style='background:url(/assets/img/sections/2.png)')
        .cont 
          .desc Комфорт и удобство
          .name Столешницы
      a.el(style='background:url(/assets/img/sections/3.png)')
        .cont 
            .desc Комфорт и удобство
            .name Столешницы
      a.el(style='background:url(/assets/img/sections/4.png)')
        .cont 
            .desc Комфорт и удобство
            .name Столешницы 
    .sep
      hr(class='rounded-[90px] hidden sm:block')
      .w-fit.m-auto
        .button Каталог
      hr(class='rounded-[90px] hidden sm:block')
  .benefits
    .container
      h1.pt-25.py-15.text-center Преимущества
      .els.pb-25
        .el
          .img-cont
            img(src='assets/img/benefits/Group 20.svg')
          .title отечественное производство
          .desc Расположенное в Московской области 
            br
            |с удобной логистикой
        .el
          .img-cont
            img(src='assets/img/benefits/Group 21.svg') 
          .title Доступные изделия
          .desc Цены ниже чем у конкурентов более чем 
            br
            |на 30%
        .el
          .img-cont
            img(src='assets/img/benefits/Group 22.svg')
          .title Быстрая доставка
          .desc Быстрая и бесперебойная доставка 
            br
            |по МО и регионам Росии
        .el
          .img-cont
            img(src='assets/img/benefits/Group 23.svg')
          .title Идеальный материал
          .desc Изделия обладают непревзойденными
            br
            | потребительскими свойствами
  .container 
    h1.text-center(class='mt-[155px] mb-[60px]') Партнеры
    .partners-text.mb-15 
      .desc
        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M19.156 0.125229C17.603 0.533605 16.5295 1.61727 16.1307 3.17901C16.0122 3.64294 16.0049 3.98925 16.0049 9.14272V14.6139H13.8821H11.7592V12.6205V10.6271H9.10564H6.45208V11.6238V12.6205H8.11056H9.76904V13.6172V14.6139H4.88449H0L0.0386094 16.4577C0.0860419 18.7228 0.197027 19.4367 0.722765 20.8598C2.15257 24.73 5.73834 27.5222 9.84937 27.9664C10.2036 28.0046 11.2858 28.0359 12.2542 28.0359H14.0147V29.6216C14.0147 30.4936 14.0452 31.3681 14.0825 31.5648C14.3778 33.1248 15.9056 34.2173 17.4364 33.9633C18.6962 33.7542 19.6838 32.7995 19.9175 31.5648C19.9548 31.3681 19.9853 30.4936 19.9853 29.6216V28.0359H21.7458C22.7142 28.0359 23.7964 28.0046 24.1506 27.9664C28.2617 27.5222 31.8474 24.73 33.2772 20.8598C33.803 19.4367 33.914 18.7228 33.9614 16.4577L34 14.6139H29.1155H24.231V13.6172V12.6205H25.8894H27.5479V11.6238V10.6271H24.8944H22.2408V12.6205V14.6139H20.1165H17.9921L18.0102 9.11548L18.0283 3.61709L18.2021 3.24592C18.5679 2.46459 19.2594 2.02325 20.1179 2.02325C20.9764 2.02325 21.668 2.46459 22.0338 3.24592C22.2029 3.60699 22.2082 3.65822 22.2287 5.12873L22.2498 6.64037H23.2404H24.231V5.22401C24.231 4.445 24.1983 3.63018 24.1584 3.41337C23.7286 1.07726 21.3875 -0.461554 19.156 0.125229ZM31.9925 17.0225C31.9907 20.8478 29.4644 24.3597 25.8456 25.5675C24.4674 26.0274 24.8289 26.0093 17 26.0093C10.4596 26.0093 9.89137 26.0004 9.34851 25.8898C5.42435 25.0898 2.54848 21.9828 2.07887 18.0358C2.03973 17.7069 2.00762 17.251 2.00756 17.0225L2.00736 16.6072H17H31.9926L31.9925 17.0225ZM17.9951 29.6333C17.9951 31.1031 17.9844 31.2516 17.8615 31.4928C17.7114 31.7877 17.3292 32.0227 17 32.0227C16.6708 32.0227 16.2886 31.7877 16.1385 31.4928C16.0156 31.2516 16.0049 31.1031 16.0049 29.6333V28.0359H17H17.9951V29.6333Z" fill="#32383C"/>
        </svg>
        p(class='leading-[24px]') Мы активно работаем с оптовыми покупателями, предлагая выгодные условия и предоставляя товар на экспозицию.

      .desc
        <svg width="25" height="29" viewBox="0 0 25 29" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7997 0.0427905C11.1863 0.141742 10.1662 0.515979 9.67066 0.823965C8.54605 1.52296 7.79412 2.3656 7.23106 3.55788C6.76755 4.53936 6.62154 5.12317 6.57372 6.18628C6.49472 7.94235 7.11486 9.49566 8.43128 10.839L8.95586 11.3743L7.02871 14.8373L5.1015 18.3003L4.42909 17.6161C3.62182 16.7946 3.07096 16.0739 2.58162 15.1994C2.14455 14.4182 1.94733 14.2503 1.41507 14.2065C1.08726 14.1795 0.970236 14.2061 0.754863 14.3563C0.318618 14.6607 0.132161 15.0121 0.16763 15.463C0.192556 15.7801 0.285935 15.9883 0.687614 16.6226C1.54828 17.9815 2.73946 19.3875 3.74796 20.2349L3.9942 20.4418L3.77333 20.8127C3.65186 21.0167 2.75317 22.5892 1.77623 24.307C0.0460115 27.3494 0 27.4413 0 27.8528C0 28.2386 0.0247004 28.3007 0.285107 28.568C0.807426 29.1041 1.53284 29.1457 1.97127 28.6646C2.07866 28.5468 3.00371 26.9545 4.02696 25.1262C5.05021 23.2979 5.89281 21.7965 5.89943 21.7899C5.90606 21.7832 6.2731 21.9607 6.71507 22.1843C7.65593 22.6604 8.83168 23.0749 9.94033 23.3213C10.625 23.4735 10.9481 23.4971 12.3501 23.4971C13.7521 23.4971 14.0752 23.4735 14.7599 23.3213C15.885 23.0712 17.0349 22.663 17.9704 22.1817C18.4148 21.9529 18.7846 21.774 18.792 21.7839C18.8606 21.8768 21.0867 25.8432 21.7176 26.9969C22.164 27.8133 22.6156 28.5698 22.7212 28.6781C22.9857 28.9496 23.4473 29.0694 23.8052 28.9593C24.18 28.844 24.819 28.2424 24.9285 27.9016C24.9768 27.7514 24.996 27.5172 24.9712 27.381C24.9462 27.245 24.6006 26.5428 24.2029 25.8207C22.7975 23.2683 21.2362 20.3862 21.2362 20.3441C21.2362 20.3207 21.7377 19.7868 22.3507 19.1578C23.9142 17.5534 24.9981 15.9311 25 15.1924C25.0018 14.4761 24.4305 13.9853 23.6699 14.0501C23.1731 14.0924 22.9985 14.2473 22.593 15.0056C22.173 15.7914 21.509 16.6642 20.7273 17.4582L20.0569 18.1392L18.1615 14.7334C17.119 12.8602 16.2576 11.2988 16.2472 11.2637C16.2368 11.2286 16.435 11.023 16.6875 10.8067C17.5565 10.0625 18.2142 8.96565 18.531 7.73239C18.7319 6.95006 18.7545 5.59041 18.5799 4.78101C17.9846 2.02112 15.7823 0.153415 12.9525 0.00885362C12.5591 -0.0112459 12.0403 0.0040603 11.7997 0.0427905ZM13.5173 2.78761C13.939 2.90728 14.6874 3.34475 15.0097 3.65969C15.1264 3.7738 15.34 4.04978 15.4845 4.27304C16.4553 5.77401 16.2326 7.68562 14.9426 8.92437C14.1414 9.69379 13.3581 9.97573 12.17 9.92215C11.5974 9.89633 11.4032 9.85181 10.9946 9.65243C10.3786 9.35195 9.9587 8.97817 9.57577 8.38949C9.00729 7.51563 8.7941 6.49156 8.98628 5.55879C9.43232 3.39453 11.4052 2.18787 13.5173 2.78761ZM12.3125 12.2885C12.6438 12.2912 13.1145 12.276 13.3585 12.2548L13.8021 12.2161L15.7871 15.8026C16.8789 17.7751 17.7721 19.4134 17.7721 19.4431C17.7721 19.548 16.145 20.2876 15.4753 20.4871C13.5746 21.0533 11.4293 21.0535 9.52615 20.4875C8.84953 20.2862 7.36729 19.6108 7.27843 19.4632C7.24243 19.4034 9.56802 15.1026 11.0392 12.5083C11.211 12.2055 11.2416 12.1857 11.4671 12.2328C11.6007 12.2607 11.9811 12.2858 12.3125 12.2885Z" fill="#32383C"/>
        </svg>

        p(class='leading-[24px]') Мы приглашаем к сотрудничеству специалистов по проектированию, дизайну, ремонту и строительству.

      .desc
        <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.9291 2.25781V4.51562H17H18.0709V2.25781V0H17H15.9291V2.25781ZM4.94874 4.95716L4.18943 5.72814L5.81554 7.32335L7.44158 8.91856L8.21374 8.15243C8.63841 7.73108 8.96803 7.35761 8.94615 7.32255C8.92426 7.28742 8.18677 6.56738 7.30726 5.72243L5.70812 4.18618L4.94874 4.95716ZM26.6378 5.77436L24.998 7.36293L25.7782 8.14074L26.5584 8.91856L28.1826 7.32521L29.8068 5.73186L29.0422 4.95882L28.2776 4.18579L26.6378 5.77436ZM15.4695 6.81189C13.2556 7.13177 11.1827 8.17056 9.57495 9.76577C7.9139 11.4138 6.89732 13.4499 6.55584 15.8128C6.43852 16.6249 6.50872 18.4337 6.69037 19.2763C7.28791 22.0488 8.97091 24.4516 11.3552 25.9363L11.9468 26.3047L11.9803 28.21C12.0122 30.0274 12.0205 30.1261 12.1611 30.3502C12.2421 30.4794 12.4269 30.6513 12.5718 30.732L12.8351 30.8789H17H21.1649L21.4282 30.732C21.5731 30.6513 21.7579 30.4794 21.8389 30.3502C21.9803 30.1247 21.9871 30.0385 22.0075 28.2157L22.0287 26.3163L22.3087 26.163C23.3652 25.5846 24.7952 24.2786 25.5804 23.1753C26.8059 21.4531 27.4251 19.6045 27.4918 17.4697C27.5289 16.2835 27.4656 15.6564 27.203 14.6076C26.287 10.949 23.3924 8.03914 19.6772 7.04218C18.4722 6.71885 16.7616 6.62522 15.4695 6.81189ZM18.4364 9.00455C19.6357 9.20039 20.9581 9.76165 21.9471 10.4948C24.6931 12.5307 25.9109 15.9335 25.0682 19.2162C24.4921 21.4601 22.8259 23.504 20.7146 24.5568C20.2722 24.7773 19.9911 25.0356 19.8822 25.3217C19.8391 25.4348 19.811 26.1365 19.811 27.0981V28.6875H17H14.189L14.1879 27.0439C14.1868 25.4606 14.1812 25.3906 14.0354 25.1348C13.9373 24.9626 13.7612 24.7991 13.5347 24.6699C13.3426 24.5604 12.9315 24.3251 12.6212 24.147C11.3715 23.4301 10.2084 22.1735 9.54008 20.8184C8.91965 19.5604 8.67576 18.5242 8.68051 17.166C8.68553 15.721 8.94575 14.6391 9.58907 13.3892C11.2599 10.1425 14.7652 8.4053 18.4364 9.00455ZM0 16.9004V17.9961H2.27559H4.55118V16.9004V15.8047H2.27559H0V16.9004ZM29.4488 16.9004V17.9961H31.7244H34V16.9004V15.8047H31.7244H29.4488V16.9004ZM13.4985 31.9048C13.1577 32.0254 12.991 32.1822 12.8345 32.5292C12.6059 33.0363 12.8262 33.6144 13.3425 33.8625C13.6205 33.996 13.7272 34 17 34C20.2728 34 20.3795 33.996 20.6575 33.8625C21.1738 33.6144 21.3941 33.0363 21.1655 32.5292C21.009 32.1822 20.8423 32.0254 20.5015 31.9048C20.1284 31.7728 13.8716 31.7728 13.4985 31.9048Z" fill="#32383C"/>
        </svg>

        p(class='leading-[24px]') Мы открыты для новых идей и готовы обсудить интересные предложения.

      div 
        p.m-auto.w-fit.font-light.text-28px.italic Свяжитесь с нами
        .m-auto.w-fit.mt-5
          .button Стать партнером
    .partners 
      .el
        .img-cont
          img(src='assets/img/partners/1.png')
        p AQUANET – название, которое отлично известно тем, кто когда-либо занимался ремонтом, преобразованием, модернизацией своей ванной комнаты или создавал дизайн-проект для формирования имиджа дома или квартиры заказчика.
      .el
        .img-cont
          img(src='assets/img/partners/2.png')
        p «Радуга Синтез» – лидер РФ в производстве полиэфирных смол и гелькоутов. Компания выпускает свыше 30.000 тонн разнообразной продукции. Продукции компании «Радуга Синтез» соответствует импортным западным аналогам.
      .el
        .img-cont
          img(src='assets/img/partners/3.png')
        p Hempro-Color doo Sid является известным производителем красок, лаков, школьной темперы, масляных красок, синтетических связующих, пластиковой упаковки и других химических товаров.
      .el
        .img-cont
          img(src='assets/img/partners/4.png')
        p Команда Флорентина способна производить полный комплекс работ по разработке, конструированию и серийному изготовлению готового продукта из композитных материалов.
    h1.text-center(class='mt-25 mb-15') Искусственный камень Stone Surface
    .grid.gap-10(class='grid-cols-1 xl:grid-cols-2')
      div
        p Технология производства искусственного камня Solid Surface имеет ряд преимуществ перед обычным искусственным мрамором. При изготовлении искусственного камня по этой технологии используется полиэфирная смола с повышенной стойкостью к бытовым загрязнителям и влагопоглощению, что позволяет отказаться от применения защитного слоя — гелькоута. Удаление воздуха из смеси полиэфирной смолы с наполнителем на стадии перемешивания позволяет получить однородный искусственный камень без воздушных пор.
          br
          br
          |Все эти обстоятельства позволяют получать искусственный камень - композитный материал, который легко режется, фрезируется, склеивается. Отсутствие покрытия из гелькоута позволяет легко ремонтировать поверхность искусственного камня даже при значительных царапинах.
        br
        br
        p.italic.font-light.text-28px.leading-10 Благодаря уникальному составу искусственного камня Stone Surface, изделия обладают непревзойденными потребительскими свойствами.
        br
        br
        ol 
          li 
            .my-auto Устойчивость к механическим повреждениям и неизменный внешний вид.
          li 
            .my-auto  Стойкость и стабильность цвета, как в цветных, так и безупречно белых изделиях
          li 
            .my-auto  Устойчивость к химическому воздействию 
          li 
            .my-auto  Простота ухода 
          li 
            .my-auto Экологичность и безвредность. Отсутствие химического запаха
      
      .relative(class='top-0 bottom-0 m-auto h-fit')
          img(src='assets/img/rakovina.png')
          .text-18px(class=' absolute left-[41%] -bottom-[5px] bottom-[17px]') Материал Stone Surface имеет
            br
            | однородную и сплошную структуру
    .sep
      hr(class='rounded-[90px] hidden sm:block')
      .w-fit.m-auto
        <svg width="96" height="68" viewBox="0 0 96 68" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M39.8379 0.406866C38.6191 1.01505 38.0111 2.16514 38.1182 3.65966C38.2045 4.86296 38.5499 5.52512 39.4409 6.19593C40.1216 6.70825 41.1524 6.90554 43.1774 6.91073L44.9398 6.91534L44.9377 10.133L44.9358 13.3506L44.243 14.023C43.048 15.1827 42.7687 16.0709 42.6873 18.9695L42.6161 21.5148L40.9676 21.5167C34.3558 21.524 22.7768 22.5782 16.6585 23.7301C7.62841 25.4299 2.57456 27.9775 0.737457 31.7555C0.173102 32.916 0.0915549 33.2865 0.0141991 35.0377C-0.272551 41.542 3.80616 49.8168 10.2274 55.7582C18.8496 63.7358 32.0174 68.0046 47.9883 68C67.8897 67.9942 83.2703 61.3899 91.1547 49.4648C95.1908 43.3604 96.9846 36.2001 95.4619 32.2723C93.8262 28.053 88.4446 25.3214 78.2533 23.537C72.1124 22.462 61.3625 21.5194 55.1992 21.5157L53.5503 21.5148L53.4794 18.8734C53.399 15.8771 53.1698 15.1946 51.7911 13.8455L51.0368 13.1074V10.0114V6.91534L52.7992 6.91073C54.8242 6.90554 55.855 6.70825 56.5357 6.19593C57.4267 5.52512 57.7721 4.86296 57.8584 3.65966C57.9664 2.15419 57.3529 1.00237 56.1236 0.402447C55.33 0.0149856 55.0214 -0.000190376 47.9757 1.72206e-06C40.9017 0.00019382 40.6252 0.0140256 39.8379 0.406866ZM55.3085 2.67228C55.7725 3.18902 55.6336 4.05961 55.038 4.36658C54.672 4.55522 52.9795 4.60075 47.7347 4.5631C41.2267 4.51642 40.895 4.49663 40.6374 4.14125C40.2786 3.64641 40.2956 3.08721 40.6824 2.65633C40.9769 2.32804 41.4578 2.30499 47.9883 2.30499C54.6291 2.30499 54.9955 2.32343 55.3085 2.67228ZM48.7504 9.60471V12.2941H47.9883H47.2262V9.60471V6.91534H47.9883H48.7504V9.60471ZM49.7886 15.1696C50.1672 15.4055 50.647 15.9343 50.8548 16.3449C51.2123 17.0514 51.2298 17.434 51.1822 23.4813L51.1321 29.871L48.2998 29.9243C46.3736 29.9606 45.3834 29.907 45.2037 29.7567C44.9888 29.5769 44.9398 28.3863 44.9398 23.3464C44.9398 17.256 44.9468 17.1436 45.3786 16.3205C46.2387 14.6807 48.1878 14.172 49.7886 15.1696ZM42.6534 26.9154C42.6534 30.4581 42.8561 31.1162 44.1784 31.8654C44.8316 32.2356 45.1865 32.2721 48.1095 32.2692C51.0829 32.2661 51.378 32.2338 52.0649 31.837C53.3483 31.0949 53.5137 30.5334 53.5137 26.915V23.761L57.2767 23.8916C75.2962 24.5177 87.772 27.0518 91.7911 30.902C93.0974 32.1534 93.5686 33.1857 93.6781 35.0354C93.9614 39.8225 90.9537 46.8504 86.5644 51.6561C79.422 59.4766 69.6481 63.8407 55.8954 65.3504C51.2018 65.8654 41.4504 65.6443 36.6517 64.9137C21.3968 62.5915 10.0861 55.4973 4.8375 44.9598C2.34516 39.956 1.58456 34.9828 2.93047 32.4922C4.00031 30.5125 6.32212 29.022 10.4816 27.6448C16.6581 25.6001 29.3749 23.9821 40.3194 23.8484L42.6534 23.82V26.9154ZM9.01319 33.5115C8.64794 34.0736 8.78855 34.6725 9.37253 35.0417C10.1947 35.5616 17.3667 37.1681 22.6876 38.0245C39.4104 40.7156 54.4437 40.8024 71.409 38.3059C77.4054 37.4236 85.676 35.6505 86.6041 35.0485C87.1888 34.6693 87.3281 34.0728 86.9634 33.5115C86.5616 32.8931 86.267 32.9085 83.0093 33.718C72.9632 36.2143 59.0742 37.8464 47.9195 37.8412C36.4591 37.836 22.4136 36.1392 12.1808 33.524C9.79875 32.9154 9.40168 32.9137 9.01319 33.5115Z" fill="black"/>
        </svg>

      hr(class='rounded-[90px] hidden sm:block')
    h1.text-center.mb-15  Блог
    .blog
      a.el 
        .img-cont 
          img(src='assets/img/blog/1.png')
        .info 
          .title  Изготовление столешниц из искусственного камня 
          .desc Накладные раковины Radostone – стильное, изысканное и в то же время функциональное решение для ванных комнат.
          .arrow  
            img(src='assets/img/arrow.svg')
          
      a.el 
        .img-cont 
          img(src='assets/img/blog/2.png')
        .info 
          .title  Где купить раковины RADOSTONE?
          .desc Накладные раковины Radostone – стильное, изысканное и в то же время функциональное решение для ванных комнат.
          .arrow  
            img(src='assets/img/arrow.svg')
      a.el 
        .img-cont 
          img(src='assets/img/blog/3.png')
        .info 
          .title  Изготовление раковин из искусственного камня
          .desc Накладные раковины Radostone – стильное, изысканное и в то же время функциональное решение для ванных комнат.
          .arrow  
            img(src='assets/img/arrow.svg')
    .map
      .info
        .text-30px Контакты
        p 
          |Россия, Московская обл., ГО Орехово - Зуевский, д. Кабаново, тер. Индустриальный парк Кабаново, д.1, офис 9
          br
          br
          |Пн. – Пт.: с 8:00 до 17:00
          br
          br
          |+7 (985) 506 38 82
          br
          br
          |radostone.sale@yandex.ru
      .map-container
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A1a9ec8fe69f92a8be58da7d59e5a4b992995504c7f08c62fe04febfa1ec55304&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>
    h1.mb-15.text-center Свяжитесь с нами
    .grid(class='gap-[30px]  grid-cols-1 lg:grid-cols-3')
      input(type="text" placeholder='Ваше имя')
      input(type="text" placeholder='Ваше город')
      input(type="phone" placeholder='+7 (_ _ _) _ _ _ - _ _ - _ _')
      input(type="text" placeholder='Эл почта')
      input(type="text" class='lg:col-span-2' placeholder='Сообщение')
    .text-center.my-5.text-gray(class='leading-[18px]') Нажимая на кнопку «Отправить», я соглашаюсь с Политикой конфиденциальности и даю согласие на обработку персональных данных
    .w-fit.mx-auto
      .button Отправить















