extends ../layout/main

block variables
  - var title = 'Расдел';
  - var description = 'Расделовая струница';
  - var pageClass = 'index';

block content
    .container 
        .breadcrumbs 
            .el Главная
            .el Каталог
            .el Раковины
        h1.text-center.mb-15 Раковины RADOSTONE
        .display-list
            .top-bar
                .img-cont.sett#sett
                    img(src='assets/img/top-bar-settings.svg')
                #mob-sett 
                    .title Фильтр
                    .inner
                            select(id='_sort')
                                option(value="") По наименованию (А-Я)
                                option(value="") По наименованию (Я-А)
                                option(value="") По популярности (возрастание)
                                option(value="") По популярности (убывание)
                            select(id='_filter')
                                option(value="") В наличии
                                option(value="") Под заказ 
                    .button Посмотреть 1138 предложений
                
                input(class='search' placeholder='Поиск')
                .display-type
                    .img-cont.lupa
                        img(src='assets/img/lupa.svg')
                    .img-cont
                        img(src='assets/img/display-type/tile-true.svg')
                    .img-cont
                        img(src='assets/img/display-type/list-false.svg')
            .section
                .el
                    .mini-gallery
                        .swiper-wrapper
                                .swiper-slide 
                                    .img-cont 
                                            img(src='assets/img/section/1.png') 
                                .swiper-slide 
                                    .img-cont 
                                            img(src='assets/img/section/1.png') 
                                .swiper-slide 
                                    .img-cont 
                                            img(src='assets/img/section/1.png') 
                        .swiper-pagination
                    .info
                        div
                            .title Раковина «Gratsiya heratsiya»
                            .flex.flex-col.gap-4 
                                .instock 
                                    <svg width="5" height="6" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect y="0.5" width="5" height="5" rx="2.5" fill="#32383C"/>
                                    </svg>
                                    |Под заказ
                                .prop Размеры: ⌀ 405; h=150
                                .price Цена от: 120 000 ₽
                        .button(class='hidden lg:block') Заказать
                    .color-pick
                        .text-gray Цвет: белый
                            .colors 
                                .ell.current Белый
                                .ell Белый/Чёрный
                                .ell Белый/Серый
                                .ell Бежевый 
                                .ell Оливковый
                                .ell Серый
                                .ell Голубой
                                .ell Бордовый
                    .button(class='block lg:hidden') Заказать
                .el
                    .mini-gallery
                        .swiper-wrapper
                                .swiper-slide 
                                    .img-cont 
                                            img(src='assets/img/section/1.png') 
                                .swiper-slide 
                                    .img-cont 
                                            img(src='assets/img/section/1.png') 
                                .swiper-slide 
                                    .img-cont 
                                            img(src='assets/img/section/1.png') 
                        .swiper-pagination
                    .info
                        div
                            .title Раковина «Gratsiya heratsiya»
                            .flex.flex-col.gap-4 
                                .instock 
                                    <svg width="5" height="6" viewBox="0 0 5 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect y="0.5" width="5" height="5" rx="2.5" fill="#32383C"/>
                                    </svg>
                                    |Под заказ
                                .prop Размеры: ⌀ 405; h=150
                                .price Цена от: 120 000 ₽
                        .button(class='hidden lg:block') Заказать
                    .color-pick
                        .text-gray Цвет: белый
                            .colors 
                                .ell.current Белый
                                .ell Белый/Чёрный
                                .ell Белый/Серый
                                .ell Бежевый 
                                .ell Оливковый
                                .ell Серый
                                .ell Голубой
                                .ell Бордовый
                    .button(class='block lg:hidden') Заказать
                
            .paginator 
                .img-cont
                    img(src='assets/img/paginator/left.svg')
                .cont 
                    a.el.current 1
                    a.el 2
                    a.el 3
                    a.el 4
                    a.el 5
                .img-cont
                    img(src='assets/img/paginator/right.svg')




